body {
    background-color: rgb(159, 224, 72);
}

.container {
    border: 2px solid black;
    max-width: 1000px;
    margin: 0 auto;
    border-radius: 10px;
}

.top {
    margin: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid black;
}

.middle-container {
    font-size: 30px;
    font-family: Verdana;
}

.right-container {
    border: 2px solid rgb(187, 53, 29);
    font-size: 30px;
    font-family: Verdana;
    color: rgb(187, 53, 29);
    border-radius: 10px;
}

#bottom {
    margin: 20px;
}

span {
    border: 1px solid;
    border-width: thin;
}

td, th {
    padding: 0.3em;
    border-collapse: collapse;
    border: 1px solid;
    text-align: center;
    font-size: 25px;
}

caption {
    margin: 20px;
    font-size: 30px;
}

table {
    border-collapse: collapse;
    margin: auto;    
    width: 70%;
}

p {
    border: 1px solid;
    padding: 10px;
    text-align: center;
    font-size: 25px;
    width: 150px;
    display: block;
    margin-left: 630px;
    margin-right: auto;
    border-radius: 15px;
}

.validator {
    width: 130px;
    height: 50px;
}

.wrapper {
    margin-left: 20pt;
    display: flex;
    gap: 20px;
    margin-bottom: 10pt;
}